{% extends "base.html" %}

{% block content %}
					<section role="main" class="content-body">
						<header class="page-header">
							<h2>Métricas Roles</h2>

							<div class="right-wrapper pull-right">
								<ol class="breadcrumbs">
									<li>
										<a href="index.html">
											<i class="fa fa-home"></i>
										</a>
									</li>
									<li><span>Administración</span></li>
									<li><span>Métricas Roles</span></li>
								</ol>
							</div>
						</header>

						<!-- start: page -->
							<section class="panel">
								<header class="panel-heading">
									<div class="panel-actions">
										<a href="#" class="fa fa-caret-down"></a>
									</div>
									<h2 class="panel-title">Métricas Roles</h2>
								</header>

								<div class="panel-body">
									<form class="form-horizontal form-bordered">

										<div class="form-group">
											<label class="col-md-3 control-label">Jefe de Quema</label>
											<div class="col-md-6">
												<div class="m-md slider-primary" data-plugin-slider data-plugin-options='{ "values": [ 25, 75 ], "range": true, "max": 100 }' data-plugin-slider-output="#sliderjq">
													<input id="sliderjq" type="hidden" value="25, 75" />
												</div>
												<p class="output2">Verde <= <b class="min">25</b></p>
												<p class="output2">Amarillo > <b class="min">25</b> y <= <b class="max">75</b></p>
												<p class="output2">Rojo ><b class="max">75</b></p>
											</div>
										</div>
										<div class="form-group">
											<label class="col-md-3 control-label">Jefe de Ignición</label>
											<div class="col-md-6">
												<div class="m-md slider-primary" data-plugin-slider data-plugin-options='{ "values": [ 25, 75 ], "range": true, "max": 100 }' data-plugin-slider-output="#sliderji">
													<input id="sliderji" type="hidden" value="25, 75" />
												</div>
												<p class="output2">Verde <= <b class="min">25</b></p>
												<p class="output2">Amarillo > <b class="min">25</b> y <= <b class="max">75</b></p>
												<p class="output2">Rojo ><b class="max">75</b></p>
											</div>
										</div>
										<div class="form-group">
											<label class="col-md-3 control-label">Antorcha</label>
											<div class="col-md-6">
												<div class="m-md slider-primary" data-plugin-slider data-plugin-options='{ "values": [ 25, 75 ], "range": true, "max": 100 }' data-plugin-slider-output="#sliderantorcha">
													<input id="sliderantorcha" type="hidden" value="25, 75" />
												</div>
												<p class="output2">Verde <= <b class="min">25</b></p>
												<p class="output2">Amarillo > <b class="min">25</b> y <= <b class="max">75</b></p>
												<p class="output2">Rojo ><b class="max">75</b></p>
											</div>
										</div>
										<div class="form-group">
											<label class="col-md-3 control-label">Jefe de Control</label>
											<div class="col-md-6">
												<div class="m-md slider-primary" data-plugin-slider data-plugin-options='{ "values": [ 25, 75 ], "range": true, "max": 100 }' data-plugin-slider-output="#sliderjc">
													<input id="sliderjc" type="hidden" value="25, 75" />
												</div>
												<p class="output2">Verde <= <b class="min">25</b></p>
												<p class="output2">Amarillo > <b class="min">25</b> y <= <b class="max">75</b></p>
												<p class="output2">Rojo ><b class="max">75</b></p>
											</div>
										</div>

									</form>
								</div>


								</section>



							</section>
						<!-- end: page -->

						<!-- Vendor -->
						<script src="assets/vendor/jquery/jquery.js"></script>
						<script src="assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
						<script src="assets/vendor/bootstrap/js/bootstrap.js"></script>
						<script src="assets/vendor/nanoscroller/nanoscroller.js"></script>
						<script src="assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
						<script src="assets/vendor/magnific-popup/magnific-popup.js"></script>
						<script src="assets/vendor/jquery-placeholder/jquery.placeholder.js"></script>

						<!-- Specific Page Vendor -->
						<script src="assets/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js"></script>
						<script src="assets/vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.js"></script>
						<script src="assets/vendor/select2/select2.js"></script>
						<script src="assets/vendor/bootstrap-multiselect/bootstrap-multiselect.js"></script>
						<script src="assets/vendor/jquery-maskedinput/jquery.maskedinput.js"></script>
						<script src="assets/vendor/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
						<script src="assets/vendor/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
						<script src="assets/vendor/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
						<script src="assets/vendor/fuelux/js/spinner.js"></script>
						<script src="assets/vendor/dropzone/dropzone.js"></script>
						<script src="assets/vendor/bootstrap-markdown/js/markdown.js"></script>
						<script src="assets/vendor/bootstrap-markdown/js/to-markdown.js"></script>
						<script src="assets/vendor/bootstrap-markdown/js/bootstrap-markdown.js"></script>
						<script src="assets/vendor/codemirror/lib/codemirror.js"></script>
						<script src="assets/vendor/codemirror/addon/selection/active-line.js"></script>
						<script src="assets/vendor/codemirror/addon/edit/matchbrackets.js"></script>
						<script src="assets/vendor/codemirror/mode/javascript/javascript.js"></script>
						<script src="assets/vendor/codemirror/mode/xml/xml.js"></script>
						<script src="assets/vendor/codemirror/mode/htmlmixed/htmlmixed.js"></script>
						<script src="assets/vendor/codemirror/mode/css/css.js"></script>
						<script src="assets/vendor/summernote/summernote.js"></script>
						<script src="assets/vendor/bootstrap-maxlength/bootstrap-maxlength.js"></script>
						<script src="assets/vendor/ios7-switch/ios7-switch.js"></script>

						<!-- Theme Base, Components and Settings -->
						<script src="assets/javascripts/theme.js"></script>

						<!-- Theme Custom -->
						<script src="assets/javascripts/theme.custom.js"></script>

						<!-- Theme Initialization Files -->
						<script src="assets/javascripts/theme.init.js"></script>


						<script>
							(function() {

								$('#sliderjq').change(function() {
									var min = parseInt(this.value.split('/')[0], 10);
									var max = parseInt(this.value.split('/')[1], 10);

									$('.output2 b.min').text( min );
									$('.output2 b.max').text( max );
								});
							})();
						</script>


{% endblock %}
