{% extends "/base.html" %}

{% block content %}
  <section role="main" class="content-body">
    <header class="page-header">
      <h2>Report Mediciones</h2>

      <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
          <li>
            <a href="{{ url_for('index') }}">
              <i class="fa fa-home"></i>
            </a>
          </li>
          <li><span>Reports</span></li>
          <li><span>Mediciones</span></li>
        </ol>
      </div>
    </header>

		{% for record_bd in bomberos_dispositivos %}
				<section>
				    <section class="panel">
				      <header class="panel-heading">
				        <div class="panel-actions">
				          <a href="#" class="fa fa-caret-down"></a>
				        </div>

				        <h2 class="panel-title">Bombero {{record_bd[1]}} - Dispositivo {{record_bd[3]}}</h2>
				      </header>
		{%endfor%}

<!--
		      <div class="panel-body">
						<form class="form-horizontal form-bordered" method="get">
							<div class="form-group">
								<label class="col-md-3 control-label" for="inputSuccess">Evento</label>
								<div class="col-md-6">
									<select class="form-control mb-md">
										{% for record_evento in eventos %}
											<option>{{ record_evento[1] }}</option>
										{% endfor %}
									</select>
								</div>
							</div>
						</form>  -->

					<!-- Flot: Basic
					<div class="chart chart-sm" id="flotDashBasic" class="chart-active"></div>
					<script>

						var flotDashBasicData = [{
							data: [
							{%for i in range(0, len-1)%}
								["{{metricas_dispositivo[i][1]}}", {{metricas_dispositivo[i][3]}}],
							{%endfor%}
								["{{metricas_dispositivo[len-1][1]}}", {{metricas_dispositivo[len-1][3]}}]
							],
							label: "Temperatura",
							color: "#0088cc"
						}, {
							data: [
							{%for i in range(0, len-1)%}
								["{{metricas_dispositivo[i][1]}}", {{metricas_dispositivo[i][4]}}],
							{%endfor%}
								["{{metricas_dispositivo[len-1][1]}}", {{metricas_dispositivo[len-1][4]}}]
							],
						  label: "Humedad",
						  color: "#2baab1"
						}, {
						  data: [
							{%for i in range(0, len-1)%}
								["{{metricas_dispositivo[i][1]}}", {{metricas_dispositivo[i][5]}}],
							{%endfor%}
								["{{metricas_dispositivo[len-1][1]}}", {{metricas_dispositivo[len-1][5]}}]
						  ],
						  label: "CO",
						  color: "#734ba9"
						}];

					</script> -->

		    </section>
		  </section>
		</section>

		<!-- Vendor -->
		<script src="assets/vendor/jquery/jquery.js"></script>
		<script src="assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
		<script src="assets/vendor/bootstrap/js/bootstrap.js"></script>
		<script src="assets/vendor/nanoscroller/nanoscroller.js"></script>
		<script src="assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
		<script src="assets/vendor/magnific-popup/magnific-popup.js"></script>
		<script src="assets/vendor/jquery-placeholder/jquery.placeholder.js"></script>

		<!-- Specific Page Vendor -->
		<script src="assets/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js"></script>
		<script src="assets/vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.js"></script>
		<script src="assets/vendor/jquery-appear/jquery.appear.js"></script>
		<script src="assets/vendor/bootstrap-multiselect/bootstrap-multiselect.js"></script>
		<script src="assets/vendor/jquery-easypiechart/jquery.easypiechart.js"></script>
		<script src="assets/vendor/flot/jquery.flot.js"></script>
		<script src="assets/vendor/flot-tooltip/jquery.flot.tooltip.js"></script>
		<script src="assets/vendor/flot/jquery.flot.pie.js"></script>
		<script src="assets/vendor/flot/jquery.flot.categories.js"></script>
		<script src="assets/vendor/flot/jquery.flot.resize.js"></script>
		<script src="assets/vendor/jquery-sparkline/jquery.sparkline.js"></script>
		<script src="assets/vendor/raphael/raphael.js"></script>
		<script src="assets/vendor/morris/morris.js"></script>
		<script src="assets/vendor/gauge/gauge.js"></script>
		<script src="assets/vendor/snap-svg/snap.svg.js"></script>
		<script src="assets/vendor/liquid-meter/liquid.meter.js"></script>
		<script src="assets/vendor/jqvmap/jquery.vmap.js"></script>
		<script src="assets/vendor/jqvmap/data/jquery.vmap.sampledata.js"></script>
		<script src="assets/vendor/jqvmap/maps/jquery.vmap.world.js"></script>
		<script src="assets/vendor/jqvmap/maps/continents/jquery.vmap.africa.js"></script>
		<script src="assets/vendor/jqvmap/maps/continents/jquery.vmap.asia.js"></script>
		<script src="assets/vendor/jqvmap/maps/continents/jquery.vmap.australia.js"></script>
		<script src="assets/vendor/jqvmap/maps/continents/jquery.vmap.europe.js"></script>
		<script src="assets/vendor/jqvmap/maps/continents/jquery.vmap.north-america.js"></script>
		<script src="assets/vendor/jqvmap/maps/continents/jquery.vmap.south-america.js"></script>

		<!-- Theme Base, Components and Settings -->
		<script src="assets/javascripts/theme.js"></script>

		<!-- Theme Custom -->
		<script src="assets/javascripts/theme.custom.js"></script>

		<!-- Theme Initialization Files -->
		<script src="assets/javascripts/theme.init.js"></script>


		<!-- Examples -->
		<script src="assets/javascripts/dashboard/examples.dashboard.js"></script>


{% endblock %}
